langchain-cli
-e packages/gizmo-agent
-e packages/agent-executor
langchain>=0.1.0
langserve>=0.0.23
httpx[socks]
langgraph
python-multipart
langchain-robocorp>=0.0.1
langchain-google-vertexai==0.0.3
uvicorn==0.23.2
langchain-openai==0.0.5
